body {
    display: block;
    padding: 1em;
    margin: 2em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
  }

.div {
    display: block;
    position: fixed;
    border: 3px solid #000;
}
